<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>About Us</title>
  </head>
  <body>
    <header>
      <nav class="navBar-wrapper" id="nav">
        <div class="logo-links-wrapper navTop">
          <div class="logo">
            <a href="../index.html">
              <img src="../img/sneakers.png" alt="logo" />
            </a>
          </div>

          <div class="nav-links">
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="./Contact-us.html">Contact</a></li>
            </ul>
            <div class="menu-btn menu-btn-left">
              <div class="menu-btn__burger"></div>
            </div>
          </div>

          <div class="menu-btn">
            <div class="menu-btn__burger"></div>
          </div>
        </div>

        <div class="cart-user-wrapper">
          <div class="cart">
            <div class="open-cart">
              <span class="notification">0</span>
              <img src="../img/icon-cart-white.svg" alt="cart icon" />
            </div>

            <div class="cart-items">
              <h3 class="cart-items-header">Cart</h3>
              <div class="cart-items-content">
                <p class="cart-empty">Your cart is empty.</p>
              </div>
            </div>
          </div>

          <div class="user">
            <img src="../img/image-avatar.png" alt="user photo" />
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="about-section">
        <h2 class="about-h2">Welcome to Our Sneakers Store!</h2>
        <p class="about-p">
          We are passionate about sneakers and committed to providing you with
          the latest and greatest selection of footwear. Our store is dedicated
          to offering high-quality sneakers that meet both style and comfort.
        </p>
        <p class="about-p">
          With a wide range of brands and styles, you're sure to find the
          perfect pair of sneakers that suits your taste and lifestyle. Our team
          of sneaker enthusiasts is always on the lookout for the hottest trends
          and timeless classics.
        </p>
        <p class="about-p">
          Whether you're an avid collector or simply looking for a comfortable
          and stylish pair of sneakers, we've got you covered. Explore our
          collection and step up your sneaker game with us!
        </p>
        <h4 class="about-h4">Our address:</h4>
        <div class="map-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d55236.597457037395!2d31.34476593955077!3d30.085956016668575!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583e21f28cf1d7%3A0x30bcfb14f962d52c!2sBaron%20Empain%20Palace!5e0!3m2!1sen!2seg!4v1691851667024!5m2!1sen!2seg"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </section>
    </main>
    <footer>
      <div class="footerLeft">
        <div class="footerMenu">
          <h1 class="fMenuTitle">About Us</h1>
          <ul class="fList">
            <li class="fListItem">Company</li>
            <li class="fListItem">Contact</li>
            <li class="fListItem">Careers</li>
            <li class="fListItem">Affiliates</li>
            <li class="fListItem">Stores</li>
          </ul>
        </div>
        <div class="footerMenu">
          <h1 class="fMenuTitle">Useful Links</h1>
          <ul class="fList">
            <li class="fListItem">Support</li>
            <li class="fListItem">Refund</li>
            <li class="fListItem">FAQ</li>
            <li class="fListItem">Feedback</li>
            <li class="fListItem">Stories</li>
          </ul>
        </div>
        <div class="footerMenu">
          <h1 class="fMenuTitle"><a href="#products"></a>All Products</h1>
          <ul class="fList">
            <li class="fListItem">Air Force</li>
            <li class="fListItem">Air Jordan</li>
            <li class="fListItem">Blazer</li>
            <li class="fListItem">Crater</li>
            <li class="fListItem">Hippie</li>
          </ul>
        </div>
      </div>
      <div class="footerRight">
        <div class="footerRightMenu">
          <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
          <div class="fMail">
            <input type="text" placeholder="your@email.com" class="fInput" />
            <button class="fButton">Join!</button>
          </div>
        </div>
        <div class="footerRightMenu">
          <h1 class="fMenuTitle">Follow Us</h1>
          <div class="fIcons">
            <img src="../img/facebook.png" alt="" class="fIcon" />
            <img src="../img/twitter.png" alt="" class="fIcon" />
            <img src="../img/instagram.png" alt="" class="fIcon" />
            <img src="../img/whatsapp.png" alt="" class="fIcon" />
          </div>
        </div>
        <div class="footerRightMenu">
          <span class="copyright"
            >&copy; Mohamed Lebda - Sneakers Store. All rights reserved.
            2023.</span
          >
        </div>
      </div>
    </footer>
    <script src="./about.js"></script>
  </body>
</html>
