<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="../../style.css" />
    <title>sign in</title>
  </head>
  <body>
    <header>
      <nav class="navBar-wrapper" id="nav">
        <div class="logo-links-wrapper navTop">
          <div class="logo">
            <a href="../../index.html">
              <img src="../../img/sneakers.png" alt="logo" />
            </a>
          </div>

          <div class="nav-links">
            <ul>
              <li><a href="../../index.html">Home</a></li>
              <li><a href="../about.html">About</a></li>
              <li><a href="../Contact-us.html">Contact</a></li>
            </ul>
            <div class="menu-btn menu-btn-left">
              <div class="menu-btn__burger"></div>
            </div>
          </div>

          <div class="menu-btn">
            <div class="menu-btn__burger"></div>
          </div>
        </div>

        <div class="cart-user-wrapper">
          <div class="cart">
            <div class="open-cart">
              <span class="notification">0</span>
              <img src="../../img/icon-cart-white.svg" alt="cart icon" />
            </div>

            <div class="cart-items">
              <h3 class="cart-items-header">Cart</h3>
              <div class="cart-items-content">
                <p class="cart-empty">Your cart is empty.</p>
              </div>
            </div>
          </div>

          <div class="user">
            <img src="../../img/image-avatar.png" alt="user photo" />
          </div>
        </div>
      </nav>
    </header>
    <main>
      <form>
        <div class="name-input input-box">
          <div class="info">
            <label for="st-name"> Name</label>
            <input type="text" id="st-name" />
          </div>

          <div class="err-msg name-err"></div>
        </div>

        <div class="age-input input-box">
          <div class="info">
            <label for="age">Age</label>
            <input type="text" id="age" />
          </div>

          <div class="err-msg age-err"></div>
        </div>

        <div class="gender-input">
          <span class="labels">Gender: </span>
          <div class="radio-container">
            <input type="radio" name="gender" id="male" value="male" />
            <label for="male">Male</label>
            <input type="radio" name="gender" id="female" value="female" />
            <label for="female">Female</label>
          </div>
          <div class="err-msg gender-err"></div>
        </div>

        <div class="submit-reset">
          <button class="submit-btn">submit</button>
        </div>
      </form>
    </main>

    <footer>
      <div class="footerLeft">
        <div class="footerMenu">
          <h1 class="fMenuTitle">About Us</h1>
          <ul class="fList">
            <li class="fListItem">Company</li>
            <li class="fListItem">Contact</li>
            <li class="fListItem">Careers</li>
            <li class="fListItem">Affiliates</li>
            <li class="fListItem">Stores</li>
          </ul>
        </div>
        <div class="footerMenu">
          <h1 class="fMenuTitle">Useful Links</h1>
          <ul class="fList">
            <li class="fListItem">Support</li>
            <li class="fListItem">Refund</li>
            <li class="fListItem">FAQ</li>
            <li class="fListItem">Feedback</li>
            <li class="fListItem">Stories</li>
          </ul>
        </div>
        <div class="footerMenu">
          <h1 class="fMenuTitle"><a href="#products"></a>All Products</h1>
          <ul class="fList">
            <li class="fListItem">Air Force</li>
            <li class="fListItem">Air Jordan</li>
            <li class="fListItem">Blazer</li>
            <li class="fListItem">Crater</li>
            <li class="fListItem">Hippie</li>
          </ul>
        </div>
      </div>
      <div class="footerRight">
        <div class="footerRightMenu">
          <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
          <div class="fMail">
            <input type="text" placeholder="your@email.com" class="fInput" />
            <button class="fButton">Join!</button>
          </div>
        </div>
        <div class="footerRightMenu">
          <h1 class="fMenuTitle">Follow Us</h1>
          <div class="fIcons">
            <img src="../../img/facebook.png" alt="" class="fIcon" />
            <img src="../../img/twitter.png" alt="" class="fIcon" />
            <img src="../../img/instagram.png" alt="" class="fIcon" />
            <img src="../../img/whatsapp.png" alt="" class="fIcon" />
          </div>
        </div>
        <div class="footerRightMenu">
          <span class="copyright"
            >&copy; Mohamed Lebda - Sneakers Store. All rights reserved.
            2023.</span
          >
        </div>
      </div>
    </footer>

    <script type="module" src="cookie.js"></script>
    <script type="module" src="signIn.js"></script>
  </body>
</html>
